.container {
  display: block;
  position: fixed;
  height: 4rem;
  width: 100%;
  top: 0;
  background-color: #373B3A;
  z-index: 2;

  .left {
    float: left;
    padding-top: 1.25rem;
    text-align: center;
    line-height: 100%;
    color: white;
    font-size: 16pt;
    font-weight: 700;
    height: 100%;
    width: 12rem;
    background-color: #076645;
    display: flex;
    text-align: center;
    justify-content: center;

    .icon {
      color: white;
      cursor: pointer;
      transition: .1s;
    }

    .span {
      padding-left: 1.25rem;
      color: white;
      transition: .3s;
    }

    @media (min-width: 1231px) {
      .icon {
        display: none;
      }

      .span {
        padding-left: 0;
      }
    }
  }

  .right {
    float: right;
    padding-top: 1.25rem;
    text-align: center;
    line-height: 100%;
    color: white;
    font-size: 8pt;
    font-weight: 300;
    height: 100%;
    padding-right: 2.5rem;

    .image {
      margin-right: 1rem;
    }

    .notif {
      width: 1rem;
    }
  }
}
