.container {
  display: flex;
  height: calc(100% - 1rem);
  margin: auto;
  box-shadow: 0 5px 20px rgba(34,36,38,.15);
  padding: 30px;
  width: auto;
  flex-direction: column;
  background: white;
  overflow-x: scroll;
}
