.container {
  display: block;
  overflow-x: scroll;

  .content {
    display: flex;
    height: 100%;
    padding: 12px;
    padding-top: 60px;
    padding-left: 180px;
    justify-content: center;

    @media(max-width: 1230px) {
      padding-left: 15px;
    }

    .card {
      display: flex;

      .header {
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 20px;
      }
    }
  }
}
